@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Contact Me!</h3>

<address>
    São Paulo, SP Brazil<br />
    <abbr title="Phone">P:</abbr>
    +55(11) 974965633
</address>

<address>
    <strong>Support:</strong> <a href="mailto:ericknasc11@hotmal.com">ericknasc11@hotmail.com</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/erick-nascimento-47740819b/">LinkedIn</a>
</address>
